/* Should you need to overwrite any of our SCSS or LESS or SASS code need to add any custom code, We highly recommend that you add your code into this file, so whenever theme update is available and you update the theme, You will not lose your hard work :) */

.accordion-style .card-body .btn-link {
    padding-left: 0;
    padding-bottom: 0;
}
.page-title-section ul li:after {
    margin: 0 8px;
}
.testimonial-carousel .owl-dots .owl-dot.active span,
.testimonial-carousel .owl-dots .owl-dot:hover span {
    background: var(--color-darkgrey);
}
.top-search {
    background: var(--color-darkgrey)!important;
}
.navbar-brand img {
    width: 100%;
}
.footer-logo {
    max-width: 100px;
}